body {
  padding-top: 16px;
}

header h1 {
  text-align: center;
  margin-bottom: 30px;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background: #ccccccaa;
  width: 100%;
  height: 100%;
  display: none;
}

h3, h4 {
  margin-bottom: 0.5em;
}

legend {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 0;
}

.register-info {
  margin-bottom: 1em;
}

.register-info button {
  margin-top: 0.5em;
}

.account-info .number {
  font-weight: bold;
}

.my-shortcode {
  cursor: pointer;
}

.help-block.help {
  color: #555555 !important;
}

.card {
  margin-bottom: 15px;
  padding: 15px; 
  overflow: auto;
  box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
}

@media (min-width: 768px) and (max-width: 979px) {
  .card {
    width: 22.928176794%;
    *width: 22.874985304638297%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 23.076923077%;
    *width: 23.0237315876383%;
  }
}